html {
    scroll-behavior: smooth;
}
.header {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
    box-shadow: 0 15px 40px -20px rgba(40,44,63,.15);
    background-color: #F3F3F4;
    
}

.res-container {
    background-color: #F5F5F5;
    
}

.logo-container {
    display: flex;
}

.company-name {
    padding: 20px 0px ;
    font-family: 'Arimo', sans-serif;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    cursor: pointer;
}

.logo {
    width: 150px;
    cursor: pointer;
}



.nav-items > ul {
    font-size: 24px;
    display: flex;
    padding: 0px 20px;
    list-style: none;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
    font-family: 'Arimo', sans-serif;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    transition: transform 0.3s ease; /* Adding transition for smooth scaling */
    font-weight: bold;

}

.nav-items > ul >li:hover {
    transform: scale(1.03);
    font-weight: bold;
    color: green;
    cursor: pointer;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
}

.res-card {
    border-radius: 10px;
    width: 200px;
    height: auto;
    padding: 10px;
    margin: 10px;
    transition: box-shadow .3s ease;
    cursor: pointer;
    font-family: 'Arimo', sans-serif;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    transition: transform 0.3s ease; /* Adding transition for smooth scaling */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.116);

}

.res-card:hover {
    box-shadow: 0 0 5px 0px black; /* horizontal-offset vertical-offset blur spread color */
    background-color: #fbfcfc;
    transform: scale(1.03);

}

.filter {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.filter-btn {
    margin: 10px;
    cursor: pointer;
  }
  
  
  

.res-logo {
    border-radius: 10px; /* Adding border radius for curved corners */
    width: 100%;
    height: 200px;
    transition: transform 0.3s ease; /* Adding transition for smooth scaling */

}

.res-logo:hover {
    transform: scale(1.03);
}

.login {
    cursor: pointer;
    border: none;
    padding: 0.6rem 1.0rem; /* Adjust padding to reduce button size */
    margin: 0;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.05rem;
    font-size: 20px; /*Adjust font size to reduce text size */
    font-weight: bold;
    border-radius: 20px;
    background-color: rgb(161, 255, 20);
    color: black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.116);
    transition: transform 0.4s ease; /* Adding transition for smooth scaling */

  }
  
  .login span {
    z-index: 10;
  }
  
  .login:hover  {
    color: black;
    box-shadow: 0.5 1 1px 0.5px black; /* horizontal-offset vertical-offset blur spread color */
    transform: scale(1.03);
  }
  
 
  
    .search {
        display: flex;
        align-items: center;
    }
  
  .search-box {
    padding: 0.5rem 1rem;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 15 0 0 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.116);

  }
  
  .search-button {
    padding: 0.5rem 1rem;
    font-size: 16px;
    background-color: rgb(161, 255, 20);
    color: rgb(19, 19, 19);
    border: none;
    border-radius: 0 15 15 0px;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.116);

  }
  
  .search-button:hover {
    background-color: rgb(192, 255, 20);
  }
  