html {
    scroll-behavior: smooth;
}
.header {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
    box-shadow: 0 15px 40px -20px rgba(40,44,63,.15);
    
}

.res-container {
    background-color: #f0ffff;
    
}

.logo-container {
    display: flex;
}

.company-name {
    padding: 20px 0px ;
    font-family: 'Arimo', sans-serif;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    cursor: pointer;
}

.logo {
    width: 150px;
    cursor: pointer;
}



.nav-items > ul {
    font-size: 24px;
    display: flex;
    padding: 0px 20px;
    list-style: none;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
    font-family: 'Arimo', sans-serif;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    transition: transform 0.3s ease; /* Adding transition for smooth scaling */
    font-weight: bold;

}

.nav-items > ul >li:hover {
    transform: scale(1.03);
    font-weight: bold;
    color: green;
    cursor: pointer;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
}

.res-card {
    border-radius: 10px;
    width: 200px;
    height: auto;
    padding: 10px;
    margin: 10px;
    transition: box-shadow .3s ease;
    cursor: pointer;
    font-family: 'Arimo', sans-serif;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    transition: transform 0.3s ease; /* Adding transition for smooth scaling */

}

.res-card:hover {
    box-shadow: 0 0 5px 0px black; /* horizontal-offset vertical-offset blur spread color */
    background-color: #fbfcfc;
    transform: scale(1.03);

}

.filter {
    padding: 10px;
}

.filter-btn {
    margin: 10px;
    cursor: pointer;
}

.res-logo {
    border-radius: 10px; /* Adding border radius for curved corners */
    width: 100%;
    height: 200px;
    transition: transform 0.3s ease; /* Adding transition for smooth scaling */

}

.res-logo:hover {
    transform: scale(1.03);
}